@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;400;600&display=swap');

:root{
  --text-primary:#552200ff;
  --bgPrimary:#fff;
 --bgSecondary: #F9F9F9;
 --pink: #0071bd;
 --light-blue: #e6f7ff;
 --border: #d9d9d9;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  color: var(--text-primary);
  text-align: center;
  font-family: 'Nunito', sans-serif;
}
.homepage-container{
  display: grid;
  grid-template-columns: auto auto;
  gap: 2em;
  padding: 1.8em 1vw;
}
h1{
  grid-area: 1 / 1 / 2 / 3;
  font-size: 5em;
}
h2{
  font-size: 2.4em;
  margin-top: 0.8em;
}
.programer-container img, .artist-container img{
  width: 30vw;
}
.programer-container, .artist-container{
  opacity: 0.5;
}
.programer-container:hover, .artist-container:hover{
  opacity: 1;
}
a{
  text-decoration: none;
  color: var(--text-primary);
}